@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base {
	html[data-theme='default'] {
		--primary-100: 207, 174, 142;
		--primary-200: 177, 145, 114;
		--primary-300: 109, 82, 54;

		--accent-100: 232, 185, 143;
		--accent-200: 131, 92, 54;

		--text-100: 77, 56, 48;
		--text-200: 122, 98, 89;

		--bg-100: 248, 233, 214;
		--bg-200: 238, 223, 204;
		--bg-300: 197, 183, 165;
	}

	html[data-theme='neon'] {
		--color-esther: 20, 61, 42;
		--color-maximus: 13, 82, 66;
		--color-linx: 20, 82, 11;
	}
}*/

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
